body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    height: 100%;
    width: 100%;
}
header {
    background-color: #206187; 
    overflow: hidden;   
    width: 100%;
    height: 100%;     
}  
#div_header{
    float: right;
    text-align: right;
    margin-right: 100px;
    margin-top: 25px;
    
}
h1{
    color: cornsilk;
}
h2{
    text-align: center;
}
h3{
    font-size: 25px;
}
h4{
    background-color: #cbdf53;
    display: inline;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    font-size: 20px;
    color: blue;
}
#img_header {
    
    width: 300px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    display: block;
}
nav{
    background-color: #B7D313;
    text-align: center;
    width: 100%;
    height: 50px;   
    padding-top: 20px;
}
ul{
    display: inline;
}
li{
    display: inline;    
    margin-left: 20px;
    font-weight: 800;
}
span{
    color: darkcyan;
}
video{
    width: 100%;
    height: 100%;
       
}#div_jornadas{
    overflow: hidden;  
    height: 100%;
    padding-left: 270px;    
}

#div_jornadas_text{
    width: 400px;
    height: 300px;
    padding-top: 75px;
    padding-right: 10px;   
    float: left;
    text-align: justify;
    text-justify: inter-word;
}
#div_video{
    width: 400px;
    height: 300px;
    float: left;
}
#div_info{
    background-color: #d8eec4;
    overflow: hidden;
    padding-left: 300px;
    padding-bottom: 20px;
}
#div_donde{
    float: left;
    padding-right: 50px;
}
#div_cuando{   
    float: left;
}
#div_eventos{ 
    overflow: hidden;       
}
#div_eventos_superior{
    float: left;
    padding-right: 30px;
    width: 250px;
    height: 200px;

}
#div_eventos_inferior{
    float: left;
    padding-right: 30px;
    width: 250px;
    height: 200px;

}
#p_eventos{
    text-align: justify;
    text-justify: inter-word;
    text-align: center;
    font-size: 12px;
}
#img_eventos{    
    width: 250px;
    height: 125px;

}
footer{
    color: white;
    background-color: black;    
    height: 250px;
    padding-top: 25px;
    padding-left: 250px;
    

}
#div_programa_jornadas{
    padding-top: 50px;
    padding-bottom: 20px;
}
#th_titulo{
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: black;

}
th{
    background-color: #B7D313;
    text-align: left;
    font-size: 13px;
}
td{
    padding-right: 10px;
}
tr{
    font-size: 13px;
}
#tr_color{
    background-color: #c4fd59;
    font-size: 13px;
}
#div_tabla{
    padding-left: 220px;
}
#div_programacion{
    background-color: #d8eec4;
    overflow: hidden;
    padding-bottom: 50px;

}
#div_3abril{
    float: left;
    padding-left: 300px;

}
#div_4abril{
    float: left;

}
form{
    padding-left: 150px;
}
#div_perfil{
    background-color: #d8eec4;
    padding-bottom: 25px;
}
#div_checkbox{
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 150px;
    padding-right: 60px;
    padding-bottom: 25px;    
}
#boton{
    
    font-size:15px;
    font-weight:bold;
    color:white;
    background-color: #B7D313;
    border:0px;
    width:100px;
    height:25px;
}
#div_boton{
    padding-left: 45%;
    padding-top: 20px;
    padding-bottom: 25px;
}
input:valid{
    border-color: #B7D313;
}